<!-- <footer class="text-center text-lg-start bg-dark text-muted mt-5">
    <div class="text-center p-4" >
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="">ShopOn</a>
    </div>
</footer> -->

<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="home" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a routerLink="home/cart" class="nav-link px-2 text-muted">Cart</a></li>
        <li class="nav-item"><a routerLink="home/order-history" class="nav-link px-2 text-muted">Order</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2023 Copyright: ShopOn, Inc</p>
    </footer>
  </div>